@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.chatPageContainer {
  @include m.flex-row-center(0.8163vw, flex-start, flex-start);
  padding: 2.449vw;
}

.chatFrame {
  width: 49.1429vw;
  height: 49.9592vw;
  border: 0.1531vw solid #9b6493;
  border-radius: 0.5102vw;

  .topBar {
    @include m.flex-row-center(0.5714vw, flex-start);
    padding: 0.5714vw;
    background-color: #9b6493;
    height: 1.8776vw;
    border-radius: 0.3265vw 0.3265vw 0 0;
  }

  .content {
    @include m.flex-column-center(0.8163vw);
    background: $primary-gradient;
    height: 47.7551vw;
    border-radius: 0 0 0.3265vw 0.3265vw;
    padding: 1.3878vw;

    .chatSection {
      flex: 9;
      overflow-y: auto;
      width: 100%;
      padding: 0 0.5714vw;
    }
  }
}

.circle1,
.circle2,
.circle3 {
  width: 0.6694vw;
  height: 0.6694vw;
  border-radius: 50%;
}
.circle1 {
  background-color: #ea3939;
  cursor: pointer;
}
.circle2 {
  background-color: #e3c128;
}
.circle3 {
  background-color: #1aad1a;
}
