@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.InputContainer {
  background: $primary-gradient;
  padding: 3px;

  border-radius: 50px;
  display: flex;
}

.InputSpan {
  @include m.flex-row-center(1.25rem);

  background: #301f2e;

  width: 100%;
  height: 100%;
  border-radius: 50px;

  @include m.flex-row-center;
  padding: 1.75rem;

  input {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-white;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: $gray-500;
    }
  }

  .searchButton {
    @include m.button-click(1);
  }
}
