@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.InputContainer {
  @include m.flex-row-center(1.0204vw);

  background: transparent;
  box-shadow: 0 0 1.0204vw 0 rgba(255, 180, 244, 0.3);

  width: 100%;
  height: 100%;
  border: 0.051vw solid #ffb4f4;
  border-radius: 2.551vw;

  @include m.flex-row-center;
  padding: 1.4286vw;

  input {
    width: 100%;
    font-size: 1.2245vw;
    font-weight: 400;
    color: $color-white;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: $gray-400;
    }
  }

  .searchButton {
    @include m.button-click(1);
  }
}
