@use "sass:math";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

$drop-count: 30;
$rain-color: #ba8fbc;
$highlight-color: #e0c3e2;

.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56.25vw;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.rain-drop {
  position: absolute;
  top: -1.0204vw;

  background-color: $rain-color;
  width: 0.5102vw;
  height: 0.5102vw;

  box-shadow: 0 0 0.2551vw rgba($rain-color, 0.6),
    0 0 0.5102vw rgba($rain-color, 0.4);

  animation: fall linear infinite;
}

@for $i from 1 through $drop-count {
  .rain-drop:nth-child(#{$i}) {
    left: #{math.random(96)}vw;

    $duration: math.div(math.random(5000), 1000) + 5s;
    animation-duration: $duration;

    animation-delay: -#{math.div(math.random(5000), 1000)}s;

    $size: math.random(10) + 5;
    width: #{math.div($size * 100, 1960)}vw;
    height: #{math.div($size * 100, 1960)}vw;

    opacity: math.div(math.random(6), 10) + 0.2;

    @if ($i % 3 == 0) {
      background-color: $highlight-color;
      box-shadow: 0 0 0.4082vw rgba($highlight-color, 0.8);
      z-index: -1;
    }
  }
}

@keyframes fall {
  0% {
    transform: translateY(-5.625vw) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(61.875vw) rotate(180deg);
    opacity: 0;
  }
}
