@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, "Arial", Helvetica, sans-serif;
}

:root {
  --vh: 100%;
  font-size: 16px;
}

html {
  background-color: #1c1c1c;
  height: 100%;
}

body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);

  width: 100vw;
  height: 100vh;

  border-radius: 50%;
  background-color: #5f1f7966;

  z-index: -2;
  pointer-events: none;
  filter: blur(150px);
}

#root {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9b6493;
  border-radius: 2000px;
}
