@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

@font-face {
  font-family: "DungeonFighterOnlineBeatBeat";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

.MainPageContainer {
  height: 45vw;
  @include m.flex-column-center(2.449vw);
}

.descriptionText {
  margin-top: 6.5306vw;
  font-size: 2.0408vw;
  color: transparent;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 0.1276vw $color-white;
  font-family: DungeonFighterOnlineBeatBeat;

  &::after {
    content: "|";
    margin-left: 0.2041vw;
    color: #ba8fbc;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
