@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as m;

.userBubbleContainer {
  @include m.flex-row-center(0, flex-end, center);
  width: 100%;
  background-color: transparent;

  .text {
    border: 0.051vw solid #ffb4f4;
    border-radius: 0.5102vw;
    padding: 0.8163vw;

    width: fit-content;
    max-width: 70%;

    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5;
    color: #fcfcfc;
    font-size: 0.8163vw;
    font-weight: 400;
  }
}
